* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#left {
    float: left;
    width: 50%;
    margin-left: 10px;
}

header h1 {
    font-size: 40px;
}

nav ul {
    padding: 0;
}

nav ul li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: bolder ;
}

nav ul li:hover {
    border: 1px solid black;
    cursor: pointer;
}

#titulo {
    text-transform: uppercase;
    text-align: center;
    width: 350px;
    padding: 5px;
    border: 2px solid black;
    font-size: 45px;
}

p {
    font-size: 20px;
}

h2 {
    letter-spacing: 3px;
    font-size: 30px;
    color:  #E7AA3C;
}

#ilex {
    font-style: italic;
}

#como_fazer {
    font-size: 18px;
}

#social li{
    float: left;
    list-style-type: none;
    width: 40px;
    margin: 20px;
    padding: 10px;

}

aside {
    float: right;
}

#img {
    width: 655px;
    height: 740px;
}

.quebra {
    clear: both;
}